language: java

jdk:
  - oraclejdk7
  
sudo: false
# as per http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/

# script for build and release via Travis to Bintray
script: buildViaTravis.sh
